<div class="row listContainer">
  <div class="col-md-12">
    <div class="todoList">
      <h5>Todo</h5>
      <ul class="list-group list">
      </ul>
      <ul id="newTodoList">
       <li class="list-group-item d-flex justify-content-between align-items-center">
            <label for="todoText">New
            <input id="todoText" type="text"></input>
            <a class="btn btn-success" id="addTodoBtn">Create</a>
            </label>
        </li>
      </ul>
    </div>
  </div>
</div>